<nav class="uk-background-default" uk-navbar>
    <div class="uk-navbar-left uk-flex-nowrap">
      <a
        class="uk-navbar-toggle uk-hidden@m uk-padding-remove"
        uk-navbar-toggle-icon
        uk-toggle
        href="#hamburger-menu"
      ></a>
      <span class="uk-visible@m uk-padding-small-right uk-width-1-6"></span>
      <a [routerLink]="['/']" class="uk-navbar-item uk-logo uk-margin uk-margin-remove-vertical">
        <img src="assets/logo.png" width="40" />
      </a>
    </div>
    <div class="uk-navbar-left uk-width-5-6@s uk-width-large@m uk-margin-small-left">
      <form class="uk-search uk-search-default uk-box-shadow-small uk-card-hover uk-width-5-6">
        <span uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Anywhere • Homes" />
      </form>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m uk-margin-right">
        <li><a [routerLink]="[]">Become a host</a></li>
        <li><a [routerLink]="[]">Help</a></li>
        <li><a [routerLink]="[]">Sign up</a></li>
        <li><a [routerLink]="[]">Login</a></li>
      </ul>
    </div>
  </nav>
  <div id="hamburger-menu" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-default uk-light">
        <li><a [routerLink]="[]">Become a host</a></li>
        <li><a [routerLink]="[]">Help</a></li>
        <li><a [routerLink]="[]">Sign up</a></li>
        <li><a [routerLink]="[]">Log in</a></li>
      </ul>
      <button class="uk-offcanvas-close" type="button" uk-close></button>
    </div>
  </div>